<div class="d1">
  <form method="POST" *ngIf="connectState===true && loginState!==true">
    <h3>{{reciveMessage}}</h3>
    <input name="account" placeholder="账号"  [(ngModel)]="uname" /><br/>
    <input name="password" type="password" placeholder="密码" [(ngModel)]="pass" /><br/>
    <input type="button" (click)="sendLoginMessage()" value="登录"/>
  </form>
  <button *ngIf="connectState!==true" (click)="connect()">连接到服务器</button>
  <h3>{{connectState}}</h3>
</div>
<div>
    <form method="POST" *ngIf="connectState===true && loginState===true">
        <h3>角色创建</h3>
        角色：<input name="playerName" placeholder="角色名"  [(ngModel)]="playerName" /><br/>
        <!-- <input name="roleType" placeholder="职业" [(ngModel)]="roleType" /><br/> -->
        性别：<select [ngModel]="sSex" (ngModelChange)="onChange($event)" name="sel1">
                  <option [value]="i" *ngFor="let i of sex">{{i}}</option>
              </select><br/>
        职业：<select [ngModel]="selectedRole" (ngModelChange)="onChange2($event)" name="sel2">
                  <option [value]="i" *ngFor="let i of roleType">{{i}}</option>
              </select><br/>
        <!-- <input name="sex" placeholder="性别" [(ngModel)]="sex"/><br/> -->
        <input type="button" (click)="createRole()" value="创建角色"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <input type="button" (click)="enterscene()" value="进入场景"/> -->
        <input type="button" (click)="roleLogin()" value="角色登录"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" routerLink="/map" value="进入场景"/>
        <h3>{{respCreateRoleMessage}}</h3>
      </form>
</div>
